
/* ==========================================================================
   background
   ========================================================================== */

.light-background { background-color: #ffffff; }

.dark-background { background-color: #0d0d0d; }



/* ==========================================================================
   background
   ========================================================================== */

.light-border { border-color: #cccccc; }

.dark-border { border-color: #0d0d0d; }



/* ==========================================================================
   type
   ========================================================================== */

html, 
body, 
.dark {
	color: #0d0d0d;
}

$elts: div, a, p, h1, h2, h3, h4, h5, span, input, select;

@each $el in $elts {
	#{$el}.light,
   .light #{$el} { 
      color: #ffffff;
   }

   #{$el}.lighter-dark,
   .lighter-dark #{$el} { 
      color: #515151;
   }

   #{$el}.dark,
   .dark #{$el} { 
      color: #0d0d0d;
   }
}


/* ==========================================================================
   other
   ========================================================================== */

a, a:hover, a:visited { text-decoration: none; }
a:hover { color: inherit; }